apiVersion: v1
kind: Service
metadata:
  name: app
spec:
  {{- if .Values.ports }}
  ports:
    {{- range .Values.ports }}
    {{- if eq .serviceName "app" }}
    - port: {{ ternary .port 80 (eq $.Values.stage "development") }}
      name: {{ .identifier }}
    {{- end }}
    {{- end }}
  {{- end }}
  selector:
    app: app
